.bottom-tab {
	border: 1px solid #DADADA;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	border-left: 0
}

.bottom-tab a:first-child {
	border-left: 0
}

.bottom-tab a {
	width: 75px;
	text-align: center;
	height: 28px;
	line-height: 28px;
	float: left;
	border-left: 1px solid #DADADA;
	*border-left-style: expression(this.previousSibling == null ? "none" : "solid");
	background: #F9F9F9;
	display: inline-block;
	overflow: hidden
}

 .map_img{
 	padding-top: 8px;
 	padding-right: 2px;
 }

.bottom-tab a:hover,.bottom-tab a.current {
	color: blue;
}