/***********重置***********/
*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
a{
    color: black;
    text-decoration: none;
}
/*最外层框架设置*/
#box{
    width: auto;
    height: auto;
}
/*一个时间轴的外框架*/
.time1{
    width: 100%;
    height:150px;
    overflow:hidden;
}

/*最左边判断框*/
.cuo{
    width: 10px;
    height: 150px;
    float: left;
    background: seagreen;
}
.time1:nth-child(2n) .cuo{
    background: red;
}
.clear {
    clear:both;
}

/*时间轴定位框架*/
.dingwei{
    width: 100%;
    height: 120px;
    margin-top:10px;
    margin-left:30px;
}
/*时间轴上的圆圈设置*/
.yuan{
    display: block;
    width: 50px;
    height:50px;
    border-radius: 25px;
    color: #ffffff;
    margin: auto;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}
.yuan:hover{
    background: #24e526;
    color: #5b5b5b;
}

.yuan1{
    background: #25754a;
}
.yuan2{
    background: #38a767;
}

.yuan3{
    background: #3ec783;
}

/*时间轴上的连接线*/
.xian{
    float: left;
    display: inline-block;
    width: 30%;
    height: auto;
    margin-top: 25px;
    margin-left: -30px;
    color: #257449;
    font-size: 20px;
    font-weight: 900;
    overflow: hidden;
}
/*包裹时间轴和对应内容的框架*/
.shijian,.shijian2{
    display: inline-block;
    width: 120px;
    height:auto;
    overflow: hidden;
    float: left;
    margin-top: 10px;
}
/*时间轴上面的内容（）时间*/
.time{
    clear:both;
    width: 100%;
    text-align: center;

}
/*左侧顶上的标题内容*/
.title{
    width: 100%;
    height: 20px;
    text-align: center;
}
.time1:nth-child(2n){
    background: #f3f3f3;
}

.day{
    width: 100%;
    text-align: center;
}
.shijian2{
    margin-left: -6%;
}